

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav styles */

.img{
    background-image: url(../images/Hero-bg.png);
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    

}

.nav-title{
    font-weight:800;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);

}
 nav ul li{
    list-style: none;
 }

 .btn-primary{
    background-color: rgba(78, 71, 255, 1);
    color:rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    padding:12px 36px;

    

 }

 
 
   
  
 
   

 .banner-box{
  font-family:sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-left:200px ;
  margin-right:200px ;
  margin-top: 100px;
  text-align:center;
    
 }
.button-1{
    margin-bottom: 40px;
}
 
 .action{
    display: flex;
    gap: 100px;
    margin: 100px 150px;
 }
 .see{
    font-size: 42px;
    font-weight: bold;
    margin-right:180px ;
 }
 .look{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
 }
 .img2{
    border-radius: 48px;
 }
 /* Productive Users Section */
 .productive-users-section{
background-color: rgba(78, 71, 255, 0.1);

border-radius: 10px;

 }
 h3{
    text-align: center; 
}
    
 .see1{font-size: 42px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 5px;
    padding:30ox ;
     text-align: center;
 }
 

 

 .num1{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: bold;
   
 }
 .num2{
    text-decoration: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
 }
 .num3{
    margin: 10px;
 }
 .num4{
    display: flex;
    gap: 200px;
    padding: 30px;
    /* margin: 50px; */
    margin-left: 250px;
    margin-right: 250px;

 }

/* touch-section */
.touch-section{
    display: flex;
    margin: 150px;
}


.section-title{
    font-size: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
 
    .touch {
color: rgba(0, 0, 0, 1);
    
 }


















.logo4{
     /* margin-left:200px ; */
  /* margin-right:200px ; */
  /* margin-top: 100px; */
  /* text-align:center; */
    margin:100px 200px;
    
    text-align: center;
    justify-content: space-around;

}
    


 .logo1{
    font-size:100px ;
    font-weight:bold ;
    color:rgba(78, 71, 255, 1) ;
    /* margin-right: 100px; */
     margin:100px 200px;
    text-align: center;
    display: flex;
    /* margin-right:600px ;////////// */
 }
 
 .logo2{
    color: rgba(137, 135, 161, 1);
    font-size: 20px;
     margin-right: 150px;
    
 }
 .logo3{
    color:rgba(137, 135, 161, 1) ;
    list-style: none;
    display: flex;
    gap: 120px;
    
 }
 .feed-back{
    display: flex;
    gap: 30px;
    margin: 50px150px;
    padding: 20px;
 }
 h3{
     text-align: center; 
     color: rgba(30, 30, 30, 1);
     font-size: 43px;
     font-weight: bold;
}
h4{
    color: rgba(30, 30, 30, 1);
    /* font-size: 10px; */
}
 .pic{
    border-radius: 20px;
 }
 .pic2{
    display: flex;
    gap: 20px;
    padding: 5px;
 }
 .pp{
margin: 24px;
padding: 0px;
 }
 .skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(27, 14, 14, 0.06);
    border-radius: 5px;
}
.section-descriptions{

color: #757575;
font-size: 18px; 
padding: 30px 0px 50px 0px;
margin-left: 145px;
margin-right: 146px;
}